node_modules/

server/data/
server/logs/
server/uploads/
server/*.db
server/*.db-journal
server/*.db-wal
server/*.db-shm

client/dist/
client/dist-ssr/

.env
*.env
!*.env.example

.DS_Store
*.log
npm-debug.log*


*.xlsx